* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*  */

body {
    
   font-family: sans-serif;

}

header {
    
    position: relative;
    z-index: 1;
}

.header-bar {

    background-color: black;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-option {
    
    width: 100px;
    height: 100px;
    color: white;
    position: relative;

}

.option-object-speaker {
    
    width: 150px;
    height: 20px;
    background-color: #4A4A4A;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    right: 50px;
    text-align: center;

}

.option-object-view {

    border-radius: 3px;
    width: 30px;
    height: 20px;
    background-color: #4A4A4A;
    border-radius: 3px;
    position: absolute;
    top: 2px;
    right: 10px;
    text-align: center;

}

/*  */

/*  */

.main-background-container {

    background-color: black;
    width: 100vw;
    padding-top: 80px;  

}

.main-container {
    
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 95px;

}

.main-pictures {

    width: 200px;
    height: 100px; 
    margin: 5px;
    position: relative;

}

.main-pictures img {

    width: 100%;
    height: 100%;

}

.main-pictures-text {

    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    
}

/*  */

/*  */

.footer-bar {

    background-color: #222222;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke ;

}

.footer-left {

    display: flex;
    align-items: center;
    justify-content: center;

}

.object-mute {

    display: flex;
    flex-direction: column;    

}

.object-stopvideo {
  
    display: flex;
    flex-direction: column;

}

.footer-center-list {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.footer-center-list li {
     
    display: flex;    
    flex-direction: column;

}

.footer-right {

    background-color: #4A4A4A;
    color: red;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-solid{
    text-align: center;
}

.footer-item-space {

    padding: 5px 10px;

} 
.footer-item-option {

    font-size: 30px;

}

.footer-center-text {

    margin-bottom: 5px;

}

.footer-text {
    
    padding-top:8px;
    font-size: 12px;
}
